body { background: #efefef; margin: 0; }
a { text-decoration: none; color: inherit; }
* { margin: 0; padding: 0; }
hr { height: 0; border: none; border-top: 1px solid #DEDEDE; }
ul, ol { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
.clearfix::after { clear: both; content: ''; display: block; }

[data-x].active{
    outline: 10px solid red;
}
[data-x].offset{
    transform: translateY(150px);
}
[data-x]{
    transform: translateY(0);
    transition: all 0.5s;
}
[data-x].animate{
    animation:slideUp 0.5s;
}
@keyframes slideUp{
    0%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}

.topNavBar { padding: 20px 0; top: 0; left: 0; position: fixed; width: 100%;
     transition: all 0.5s;color: #b7b7b7;
    }

.topNavBar.sticky{background: white;padding: 10px 0;z-index: 1;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);color: #3d4451;
    }
.topNavBar-inner { padding: 0 16px; }
.topNavBar nav { padding-top: 1px; }
.topNavBar nav > ul { list-style: none; padding: 0; margin: 0; }
.topNavBar nav > ul > li { float: left; margin-right: 17px; margin-left: 17px; position: relative;}
.topNavBar nav > ul > li > a { font-size: 12px; font-weight: bold; color: inherit; border-top: 3px solid transparent; border-bottom: 3px solid transparent; display: block; 
    padding-top: 5px; padding-bottom: 5px; position: relative;}
.topNavBar nav > ul > li.active > a::after,
.topNavBar nav > ul > li.highlight > a::after
 { 
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #e06567;
    height: 3px;
    animation: menuSlide .3s;
 }
 @keyframes menuSlide{
     0%{ width: 0; }
     100%{ width: 100%; }
 }
 .topNavBar .submenu{
     display: none;
     position: absolute;
     right: 0;
     top: 100%;
     background: white;
     color: #3d4451;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
 }
 .topNavBar li.active> .submenu{
     display: block;
     animation: submenuSlide .3s;
 }
 @keyframes submenuSlide{
     0%{
         margin-right: 100%;
     }
     100%{
         margin-right: 0%;
     }
 }
 .topNavBar .submenu > li{
     white-space: nowrap;
     padding: 5px 10px;
 }
.topNavBar .logo { font-size: 24px; font-family: 'Arial Black'; padding-top: 3px; padding-bottom: 4px; }
.topNavBar .logo .rs { color: #e06567; margin-right: 4px; }
.topNavBar .logo .card { color: #b7b7b7; }
.banner { height: 515px; background-image: url(./img/rs-cover.jpg); background-position: center center; background-size: cover; }
.banner .mask { height: 515px; background-color: rgba(0, 0, 0, 0.65); }
.userCard { max-width: 940px; margin-left: auto; margin-right: auto; background: #ffffff; box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5); }
.userCard .welcome { display: inline-block; background: #e06567; color: white; margin-bottom: 10px; padding: 4px 16px; position: relative; line-height: 22px;
}
.userCard .welcome .triangle { border: 10px solid transparent; border-left-color: #e06567; width: 0; border-top-width: 0; position: absolute; left: 4px; top: 100%; display: block;
}
.userCard h1 { margin-top: 18px; }
.userCard hr { margin: 20px 0; }
.userCard .pictureAndText { padding: 50px; }
.userCard .picture { float: left; }
.userCard .text { float: left; margin-left: 65px; width: 470px; }
.userCard dl dt, .userCard dl dd { float: left; padding: 5px 0; }
.userCard dl dt { font-weight: bold; width: 30%; }
.userCard dl dd { color: #b7b7b7; width: 70%; }
.userCard footer.media { background: #e06567; text-align: center; }
.userCard footer.media a { display: inline-block; border-radius: 50%; width: 40px; line-height: 30px; margin: 16px; padding: 5px 0; }
.userCard footer.media a:hover { background: #cf5d5f; }
.userCard svg { width: 30px; height: 30px; fill: white; vertical-align: top; }
body>main { margin-top: -340px; }
body>main .downloadResume-wrapper { text-align: center; }
body>main .downloadResume { font-size: 14px; line-height: 16px; padding: 21px 55px; display: inline-block; border: 1px solid #CDCFD1; background: #efefef; border-radius: 2px; color: #3d4451; font-weight: bold; margin: 32px 0; }
body>main .downloadResume:hover { box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2); transition: box-shadow 0.2s; }
.selfIntroduction { max-width: 940px; margin-left: auto; margin-right: auto; text-align: center; font-family: arial; font-size: 18px; line-height: 1.8; }
section.skills, section.portfolio { max-width: 940px; margin-left: auto; margin-right: auto; margin-top: 60px; }
section.skills>h2, section.portfolio>h2 { text-align: center; color: #3d4451; font-size: 34px; line-height: 1.2; font-weight: 600; }
section.skills>h3 { font-size: 14px; line-height: 1.1; padding-right: 40px; }
section.skills>ol { background: white; box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5); padding: 42px 50px 10px; margin-top: 30px; }
section.skills>ol>li { float: left; width: 48%; box-sizing: border-box; }
section.skills>ol>li:nth-child(even) { float: right; }
section.skills .progressBar { height: 5px; background: #fae1e1; border-radius: 2px;
     margin: 4px 0 40px; overflow: hidden;}
section.skills .progressBar .progress { width: 70%; background: #e6686a; height: 100%; 
    border-radius: 2px; transform: translateX(0);transition: all 1s;}
section.skills.offset .progress{
    transform: translateX(-100%);
}

section.portfolio { text-align: center; margin-bottom: 100px; }
section.portfolio>nav { text-align: center; display: inline-block; vertical-align: top; margin-top: 32px; }
section.portfolio>nav>ol { margin: 0 auto; display: inline-block; vertical-align: top; }
section.portfolio>nav>ol>li { float: left; margin-left: 40px; cursor: pointer; }
section.portfolio>nav>ol>li:first-child { margin-left: 0; } section.portfolio>nav .bar { height: 5px; background: white; margin-top: 5px; margin-bottom: 28px; border-radius: 2px; }
section.portfolio>nav .bar-inner { height: 100%; background: #e6686a; border-radius: 2px; transition: all 0.3s;
}
section.portfolio>nav .bar.state-1 .bar-inner { margin-left: 0px; width: 50px; } 
section.portfolio>nav .bar.state-2 .bar-inner { margin-left: 65px; width: 50px; }
section.portfolio>nav .bar.state-3 .bar-inner { margin-left: 140px; width: 96px; }
section.portfolio .works { position: relative; }
section.portfolio .works>.big, section.portfolio .works>.small { position: absolute; }
